# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
env/
venv/
ENV/
.venv/

# Distribuciones / empaquetados
build/
dist/
*.egg-info/
*.egg
.eggs/

# Archivos de instalación de pip
pip-log.txt
pip-delete-this-directory.txt

# Archivos de test / cobertura
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Archivos de depuración y temporales
*.log
*.tmp
*.temp

# Archivos de VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db
Desktop.ini

# Archivos de C/C++ compilados (si llegas a usar C++)
*.exe
*.dll
*.obj
*.o
*.out
*.a
*.lib
*.pdb
*.idb
*.ilk

# Archivos de respaldo de editores
*~
*.swp
*.swo
